/***************** RESET *****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Bangers', cursive;
    font-family: 'Open Sans', sans-serif;
}

/****************** REUSABLE *******************/

.ht-bar, 
.section-content-ctn, 
.last-ctn, 
.footer-top,
.footer-bottom {
    width: 1180px;
}

.header-top, .header-bottom, .section-ctn {
    display: flex;
    justify-content: center;
}

.header-bottom, .section-ctn {
    padding: 120px 40px;
}

a {
    text-decoration: none;
}

a:hover:not(.content-right > a){
    cursor: pointer;
    transform: translateY(-6px);
    transition: ease .40s;
}

.login, .download {
    background-color: #ffffff;
}

.hb-ctn p,
.hb-btn-ctn a,
.content-text p,
.last-ctn p {
    font-size: 2rem;
}

.hb-ctn h1, 
.last-ctn h2,
.content-left h4 {
    font-family: 'Bangers', cursive;
}

.content-right a span:hover, .navbar ul li a:hover{
    text-decoration: underline;
}


/***************** HEADER SECTION ****************/

header {
    background-image: url(../images/jumbo.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.ht-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li  {
    font-size: 1.6rem;
    margin: 10px;
    padding: 10px;
}

ul li a {
    color: #ffffff;
}

.login, .signup {
    font-size: 1.4rem;
    padding: 7px 16px;
    border-radius: 40px;
}

.hb-ctn {
    width: 900px;
    text-align: center;
}

.hb-ctn h1 {
    font-size: 5.6rem;
}

.hb-ctn p {
    margin-top: 40px;
    line-height: 35px;
}

.hb-btn-ctn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hb-btn-ctn a {
    padding: 16px 32px;
    border-radius: 28px;
    font-weight: 600;
}

.open-browser {
    background-color: black;
    color: #ffffff;
    margin-left: 24px;
}

/***************** MAIN SECTION ****************/


.section-ctn:nth-child(odd) {
    background-color: #ffffff;
}

.section-ctn:nth-child(even) {
    background-color: #d3d3d3;
    --mask: 
    linear-gradient(to bottom,#0000 30px,#000 0),
    radial-gradient(30px,#000 98%,#0000) top/55.50px 60px;
    -webkit-mask: var(--mask);
          mask: var(--mask);
}

.section-content-ctn {
    display: flex;
}

.content-img {
    width: 60%;
}

.content-text {
    width: 40%;
}

.content-text h2 {
    font-size: 4.8rem;
    line-height: 55px;
    padding: 35px 60px 0 0;
    margin-bottom: 40px;
}


.invert {
    flex-flow: row-reverse;
}

.last-ctn {
    background-image: url(../images/stars.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}

.last-ctn h2 {
    font-size: 4rem;
}

.last-ctn h3 {
    font-size: 3.2rem;
    margin-bottom: 30px;
}

.last-ctn p {
    margin-top: 20px;
}

.last-ctn-img {
    margin-bottom: 30px;
}

.last-ctn-btn {
    background-color: #5865F2;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 12px 24px;
    border-radius: 28px;
}

/***************** FOOTER SECTION ****************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272a;
    padding: 80px 64px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-right {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer-top-left {
    width: 20%;
}

.content-left h4 {
    color: #4265E6;
    font-size: 3.2rem;
    font-weight: 600;
}

.flag {
    width: 16px;
    margin-right: 5px;
}

.lang-choice {
    display: inline-block;
    font-size: 1.4rem;
    color: #ffffff;
}

.lang-choice, .icon-ctn {
    margin-top: 24px;
}

.icon-ctn {
    display: flex;
    justify-content: flex-start;
}

.icon-ctn i {
    color: #ffffff;
    font-size: 2.2rem;
    padding-right: 20px;
}

.icon-ctn  i:hover {
    cursor: pointer;
}

.content-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.content-right  h5, a {
    font-size: 1.6rem;
}

.content-right a {
    margin-top: 8px;
}

.content-right h5 {
    color: #5865F2;
}

.content-right a > span {
    color: #ffffff;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #5865f2;
    padding-top: 32px;
}

.footer-bottom-ctn {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.signup {
    background-color: #5865f2;
    color: #ffffff;
}